<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Email Sending App</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="card mt-3 mb-3 rounded-0">
            <div class="card-header text-center bg-info rounded-0">
              <h3>Smartrove Designs</h3>
              <p>
                <i class="fa-solid fa-location-dot"></i>
                34, Aregbeyo Street</p>
              <p><i class="fa-solid fa-phone"></i> +2348168800815</p>
              <p><i class="fa-solid fa-envelope"></i>
                olaokunolalekan@gmail.com</p>
            </div>
            <div class="card-body">
              <h3>Email Us</h3>
              {{msg}}
              <form method="POST" action="send">
                <div class="row">
                  <div class="col-md-4 px-3">
                    <label for="name">Name:</label><br />
                    <input
                      type="text"
                      id="name"
                      class="rounded-0"
                      name="name"
                    />
                    <label for="email" class=""> Email:</label>
                    <input
                      class="rounded-0"
                      type="email"
                      id="email"
                      name="email"
                    />
                  </div>
                  <div class="col-md-4">
                    <label for="company" class="mx-5">Company:</label><br />
                    <input
                      type="text"
                      id="company"
                      class="mx-5 rounded-0"
                      name="company"
                    />
                    <label for="number" class="mx-5">PhoneNumber:</label>
                    <input
                      type="tel"
                      id="pnumber"
                      class="mx-5 rounded-0"
                      name="phone"
                    />

                  </div>
                </div><br />
                <textarea
                  name="message"
                  id="t-area"
                  cols="60"
                  rows="4"
                >Message</textarea><br /><br />
                <button
                  type="submit"
                  class="btn btn-outline-primary d-block btn-block"
                >Submit</button>
              </form>

            </div>
          </div>
        </div>

        <div class="col-md-2"></div>
      </div>
    </div>

    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
  </body>
</html>